1. Импортируйте библиотеку pandas как pd. Загрузите датасет bookings.csv с разделителем ;. Проверьте размер таблицы, типы переменных, а затем выведите первые 7 строк, чтобы посмотреть на данные. 
2. Приведите названия колонок к нижнему регистру и замените пробелы на знак нижнего подчеркивания.
3. Пользователи из каких стран совершили наибольшее число успешных бронирований? Укажите топ-5.
4. На сколько ночей в среднем бронируют отели разных типов?
5. Иногда тип номера, полученного клиентом (assigned_room_type), отличается от изначально забронированного (reserved_room_type). Такое может произойти, например, по причине овербукинга. Сколько подобных наблюдений встретилось в датасете?
6. Проанализируйте даты запланированного прибытия. 
    * На какой месяц чаще всего успешно оформляли бронь в 2016? 
    * Изменился ли самый популярный месяц в 2017?
    * Сгруппируйте данные по годам и проверьте, на какой месяц бронирования отеля типа City Hotel отменялись чаще всего в каждый из периодов
7. Посмотрите на числовые характеристики трёх переменных: adults, children и babies. Какая из них имеет наибольшее среднее значение?
8. Создайте колонку total_kids, объединив children и babies. Для отелей какого типа среднее значение переменной оказалось наибольшим?
9. Создайте переменную has_kids, которая принимает значение True, если клиент при бронировании указал хотя бы одного ребенка (total_kids), в противном случае – False. Посчитайте отношение количества ушедших пользователей к общему количеству клиентов, выраженное в процентах (churn rate). Укажите, среди какой группы показатель выше.

In [1]:
url = 'https://raw.githubusercontent.com/88alexinho/data_analyst_karpov_course/refs/heads/main/2_bookings.csv'

1. Импортируйте библиотеку pandas как pd. Загрузите датасет bookings.csv с разделителем ;. Проверьте размер таблицы, типы переменных, а затем выведите первые 7 строк, чтобы посмотреть на данные.

In [2]:
import pandas as pd 

data_booking = pd.read_csv(url, sep=';')
data_booking.head(7)

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-03

In [10]:
data_booking.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 21 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   hotel                      119390 non-null  object
 1   is_canceled                119390 non-null  int64
 2   lead_time                  119390 non-null  int64
 3   arrival_full_date          119390 non-null  object
 4   arrival_date_year          119390 non-null  int64
 5   arrival_date_month         119390 non-null  object
 6   arrival_date_week_number   119390 non-null  int64
 7   arrival_date_day_of_month  119390 non-null  int64
 8   stays_in_weekend_nights    119390 non-null  int64
 9   stays_in_week_nights       119390 non-null  int64
 10  stays_total_nights         119390 non-null  int64
 11  adults                     119390 non-null  int64
 12  children                   119386 non-null  float64
 13  babies                     119390 non-null  int64
 14  meal                       119390 non-null  object
 15  country                    118902 non-null  object
 16  reserved_room_type         119390 non-null  object
 17  assigned_room_type         119390 non-null  object
 18  customer_type              119390 non-null  object
 19  reservation_status         119390 non-null  object
 20  reservation_status_date    119390 non-null  object
dtypes: float64(1), int64(10), object(10)
memory usage: 19.1+ MB

2. Приведите названия колонок к нижнему регистру и замените пробелы на знак нижнего подчеркивания.

In [7]:
data_booking.rename(columns = lambda x: x.lower().replace(' ', '_'), inplace=True)
data_booking.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_full_date',
       'arrival_date_year', 'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'stays_total_nights', 'adults', 'children',
       'babies', 'meal', 'country', 'reserved_room_type', 'assigned_room_type',
       'customer_type', 'reservation_status', 'reservation_status_date'],
      dtype='object')

3. Пользователи из каких стран совершили наибольшее число успешных бронирований? Укажите топ-5.

In [15]:
data_booking.groupby(['country'])['is_canceled'].sum(numeric_only=True).sort_values(ascending=False).head(5)

country
PRT    27519
GBR     2453
ESP     2177
FRA     1934
ITA     1333
Name: is_canceled, dtype: int64

4. На сколько ночей в среднем бронируют отели разных типов?

In [17]:
data_booking.groupby(['hotel']).aggregate({'stays_total_nights': 'mean'}) \
            .sort_values(by='stays_total_nights', ascending=False)

              stays_total_nights
hotel
Resort Hotel            4.318547
City Hotel              2.978142

5. Иногда тип номера, полученного клиентом (assigned_room_type), отличается от изначально забронированного (reserved_room_type). Такое может произойти, например, по причине овербукинга. Сколько подобных наблюдений встретилось в датасете?

In [21]:
data_booking[data_booking['assigned_room_type'] != data_booking['reserved_room_type']].shape[0]

14917

6. Проанализируйте даты запланированного прибытия.

* На какой месяц чаще всего успешно оформляли бронь в 2016? 
* Изменился ли самый популярный месяц в 2017?

In [29]:
data_booking.groupby('arrival_date_year').arrival_date_month.max()

arrival_date_year
2015    September
2016    September
2017          May
Name: arrival_date_month, dtype: object

* Сгруппируйте данные по годам и проверьте, на какой месяц бронирования отеля типа City Hotel отменялись чаще всего в каждый из периодов

In [52]:
city_hotel_data = data_booking[data_booking['hotel'] == 'City Hotel']

cancelled_group = city_hotel_data.groupby(['arrival_date_year', 'arrival_date_month', 'is_canceled']) \
    .agg({'hotel': 'count'}) \
    .reset_index()

cancelled_data = cancelled_group[cancelled_group['is_canceled'] == 1]

top_cancel_months = cancelled_data.groupby('arrival_date_year') \
    .apply(lambda x: x.nlargest(1, 'hotel')) \
    .reset_index(drop=True)

print(top_cancel_months)

   arrival_date_year arrival_date_month  is_canceled  hotel
0               2015          September            1   1543
1               2016            October            1   1947
2               2017                May            1   2217

7. Посмотрите на числовые характеристики трёх переменных: adults, children и babies. Какая из них имеет наибольшее среднее значение?

In [53]:
data_booking[['adults', 'children', 'babies']].describe()

              adults       children         babies
count  119390.000000  119386.000000  119390.000000
mean        1.856403       0.103890       0.007949
std         0.579261       0.398561       0.097436
min         0.000000       0.000000       0.000000
25%         2.000000       0.000000       0.000000
50%         2.000000       0.000000       0.000000
75%         2.000000       0.000000       0.000000
max        55.000000      10.000000      10.000000

У adults наибольшее среднее значение

8. Создайте колонку total_kids, объединив children и babies. Для отелей какого типа среднее значение переменной оказалось наибольшим?

In [55]:
data_booking['total_kids'] = data_booking['children'] + data_booking['babies']

data_booking.groupby('hotel').aggregate({'total_kids': 'mean'})

              total_kids
hotel
City Hotel      0.096311
Resort Hotel    0.142586

Для типа Resort Hotel

9. Создайте переменную has_kids, которая принимает значение True, если клиент при бронировании указал хотя бы одного ребенка (total_kids), в противном случае – False. 

Посчитайте отношение количества ушедших пользователей к общему количеству клиентов, выраженное в процентах (churn rate). Укажите, среди какой группы показатель выше.

In [59]:
data_booking['has_kids'] = data_booking.apply(lambda x: x['total_kids'] > 0, axis=1)
data_booking

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date,total_kids,has_kids
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01,0.0,False
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01,0.0,False
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02,0.0,False
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02,0.0,False
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03,0.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017-08-30,2017,August,35,30,2,5,...,0,BB,BEL,A,A,Transient,Check-Out,2017-09-06,0.0,False
119386,City Hotel,0,102,2017-08-31,2017,August,35,31,2,5,...,0,BB,FRA,E,E,Transient,Check-Out,2017-09-07,0.0,False
119387,City Hotel,0,34,2017-08-31,2017,August,35,31,2,5,...,0,BB,DEU,D,D,Transient,Check-Out,2017-09-07,0.0,False
119388,City Hotel,0,109,2017-08-31,2017,August,35,31,2,5,...,0,BB,GBR,A,A,Transient,Check-Out,2017-09-07,0.0,False
119389,City Hotel,0,205,2017-08-29,2017,August,35,29,2,7,...,0,HB,DEU,A,A,Transient,Check-Out,2017-09-07,0.0,False

In [60]:
data_booking['has_kids'].value_counts()

has_kids
False    110058
True       9332
Name: count, dtype: int64

In [61]:
data_booking[['has_kids', 'is_canceled']].value_counts() / data_booking['has_kids'].value_counts() * 100

has_kids  is_canceled
False     0              62.778717
          1              37.221283
True      0              65.077154
          1              34.922846
Name: count, dtype: float64

Churn rate - 37.2%